body{
    margin:0;
    background: url('inflicted.png');
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}
button { border:0;}
input:focus { outline: none; }


.container {
    position: relative;
    margin: 30px auto;
    width: 640px;
    height: 360px;
}

#droneStream {
    position: absolute;
}

.top-left {
    position: absolute;
    width: 150px;
    top: 0;
    left: 0;
}

.top-right {
    position: absolute;
    width:50px;
    top: 0;
    right: 0;
}

.bottom-right {
    position: absolute;
    width: 104px;
    bottom: 0;
    right: -4px;
}

.bottom-left {
    position: absolute;
    /*width:100px;*/
    bottom: 0;
    left: 0;
}

.top-middle {
    position: relative;
    margin: 0 auto;
    width: 100px;
    top: 0;

}

.info {
    color: white;
    padding: 5px;
    background: rgba(0,120,0,.25);
    text-align: center;
}

.controls > button {
    border: 0px none;
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,.4);
    font-size: 24px;
    color: #dcdcdc;
    padding-left: 0;
    padding-right: 0;
    padding-top:0;
    padding-bottom:0;
    margin-right: -4px;
}

.controls > button:hover {
    background: rgba(255,255,255,.95);
    color: black;
    cursor: pointer;
}
/*
.controls > button:active {
    margin:0;
    border: none;
}
*/


.controls > button:focus {
    outline:none;
}

